*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    padding: 0 4px;
}
a{
    text-decoration: none;
}
header{
    padding: 20px 0;
    position: fixed;
    top: 0;
}
.header-all{
    font-family: 'Marcellus', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

}
.logo img{
    width: 30%;
}
nav a{
    color: #ffffff;
    font-size: 14px;
    margin-right: 40px;
}
#Register {
    color: #ffffff;
    font-size: 12px;
}
.links i{
    color: #ffffff;
    font-size: 21px;
    margin-left: 20px;
}
.links span{
    background: #c0a483;
    color: #fff;
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 100%;
    position: absolute;
    top: -6px;
}
#Bag{
    position: relative;
}
nav a{
    position: relative;
}
nav a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    bottom: -5px;
    left: 0;
    transition: .6s;
}
nav a:hover::before{
    width: 100%;
}
.links i:hover{
    transform: translateY(-5px)
}
hr{
    color: #868686;
}
footer{
background-color: #f6f6f6;
padding: 15px 0;
}
.footer-links h2{
    font-family:'Marcellus', serif;
    color: #000000;
    font-size: 16px;
}
.footer-links span{
    font-family:'Open Sans', sans-serif ;
    font-weight: bold;
    color: #000000;
    font-size: 14px;

}
.footer-links a{
    font-family:'Open Sans', sans-serif ;
    color: #868686;
    font-size: 14px;
    
}
.footer-links i{
    color: #000000;
    font-size: 14px;
    background-color: #ffffff;
    padding: 11px;
    border: 1px solid lightgray;
    border-radius: 100%;
    margin-right: 5px;
}
.footer-all p{
    color: #868686;
    font-family:'Open Sans', sans-serif ;
    font-size: 14px;
}
.footer-links a:hover{
    color: #c0a483;
}
.footer-links i:hover{
    color: #ffffff;
    background-color: #c0a483;
    border: none;
}
.footer-links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 0;
}
#Menu i{
    color: #ffffff;
    font-size: 21px;
    
}
#Addtobasket i{
    color: #ffffff;
    font-size: 21px;
    
}
#Bag2{
    position: relative;
}
#Addtobasket span{
    background: #c0a483;
    color: #fff;
    padding: 3px 5px;
    font-size: 10px;
    border-radius: 100%;
    position: absolute;
    top: -6px;
}

.header-mob{
    padding: 30px 0;
    background-color: #000000;
    display: none;
    position: absolute;
    top: 0;
}
.footerm-all i{
    color: #000000;
    font-size: 21px;
}
.footer-mob{
    background-color: #ffffff;
    padding: 30px 0;
    display: none;
    position: sticky;
    bottom: 0;
    width: 100%;

}
@media (max-width:576px) {
    .container{
        padding: 0 1px;
    }
    header{
        display: none;
    }
    .header-mob{
        display: block;
    }
    
    footer{
        display: none;
    }
    .footer-mob{
        display: block;
    }
    #sidebar{
        display: block;
    }
}
@media(min-width:992px){
    #sidebar{
        display: none;
    }
}

#sidebar{
    background-color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    width: 0;
    opacity: 0;
}
#sidebar a{
    font-family:'Marcellus', serif ;
    color: #000000;
    font-size: 14px;
    margin: 0 0 20px;
    display:block;
    text-align: center;
    
    
    
}
.active{
    width: 100% !important;
    opacity: 1!important;
}
#close{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #f6f6f6;
    padding:16px 30px ;
    background-color: #c0a483;
    border:1px solid #c0a483;
    cursor: pointer;

}
.search3{
    width: 100px;
    height: 60px;
    text-align: center;
    background-color: #fff;
    padding: 20px  0 30px 0;
    position: fixed;
    top: 8rem;
    right: 11%;
    opacity: 0;
}
.active{
    opacity: 1!important;
}
.about{

    background-image: url(https://wpbingosite.com/wordpress/kowine/wp-content/uploads/2021/06/about.jpg);
    background-position: center;
    background-size: cover;
    padding: 18rem 0;
    font-family: 'Marcellus', serif;
    text-align: center;


}
#two{
    color: #ffffff;
    font-size: 18px;
}
#one{
    color: #ffffff;
    font-size: 70px;
}
.story h3{
    color: #000000;
    font-size: 20px;
    font-family: 'Marcellus', serif;


}
.story h2{
    color: #000000;
    font-size: 50px;
    font-family: 'Marcellus', serif;
}
.story p{
    color: #868686;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
#story-text{
text-align: center;
padding: 11rem 0;
    
}
.story{
    background-image: url(https://wpbingosite.com/wordpress/kowine/wp-content/uploads/2021/06/about-us.jpg);
    background-position: center;
    background-size: contain;
    padding: 55px 0;
}
.inspiration-all svg{
    width: 15%;
    
}
.inspiration-all svg:hover{
    transform: translateX(10px);
}
.inspiration2-all span{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Marcellus', serif;
}
.inspiration2-all p{
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 20px;
}
#inspiration{
    background-color: #7e0f0e;
}
.slick-next{
    right: 30px;
}
.slick-prev{
    left: 30px;
    z-index: 111;
}
.topbrand-all .box{
    width: 18%;
    border: 1px solid #868686 ;
    overflow: hidden;
    }
    .topbrand-all .box img{
        width: 100%;
        vertical-align: bottom;
        transition: .6s;
    }
    .topbrand-all{
        display: flex;
    
    }
    #topbrand{
        background-color: #ffffff;
        padding: 70px 0;
        font-family: 'Marcellus', serif;
    }
    #topbrand span{
        font-size: 24px;
        color: #c0a483; }
        #topbrand p{
            font-size: 24px;
            color: #000000;
            text-align: center; 
            padding: 20px 0;
        }
        #topbrand .box:hover img{
            transform: scale(1.1);
        }
        
        .arrow i{
            color: white;
            background-color: #c0a483;
            padding: 25px;
            position: fixed;
            bottom: 3%;
            right: 2%;
            
        }
        .signup h2{
            color: #ffffff;
            font-size: 30px;
            font-family: 'Marcellus', serif;


        }
        .signup{
            background-color: #c0a483;
            padding: 50px 0;;

        }
    
        #teams p{
            color: #000000;
            font-size: 24px;
            font-family:'Marcellus', serif ;
            text-align: center;
        }
        #teams{
            background-color: #ffffff;
            padding: 50px 0;
        }
        .slick-next{
            right: 30px;
        }
        .slick-prev{
            left: 30px;
            z-index: 111;

        }
            